[submodule "nginx"]
	path = nginx
	url = https://github.com/bugcloud/nginx.git
[submodule "mysql"]
	path = mysql
	url = git://github.com/bugcloud/mysql.git
[submodule "openssl"]
	path = openssl
	url = git://github.com/opscode-cookbooks/openssl.git
